<div>
    <h2 id="page-heading">
        <span>Technos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-techno" [routerLink]="['/techno/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Techno
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="technos?.length === 0">
        <span>No technos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="technos && technos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Libelle</span></th>
                    <th scope="col" ><span>Publish</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let techno of technos ;trackBy: trackId">
                    <td><a [routerLink]="['/techno', techno.id, 'view']">{{ techno.id }}</a></td>
                    <td>{{ techno.libelle }}</td>
                    <td>{{ techno.publish }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/techno', techno.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/techno', techno.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(techno)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
