<div>
    <h2 id="page-heading">
        <span>Questions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question"
                [routerLink]="['/question/new']" title="Ajouter une nouvelle question" style="border-radius: 50px ;padding: 6px 10px;">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="questions?.length === 0">
        <span>No questions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="questions && questions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Libelle</span></th>
                <th scope="col"><span>Date</span></th>
                <th scope="col"><span>Cloturer</span></th>
                <th scope="col"><span>Techno</span></th>
                <th scope="col"><span>Langage</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question of questions ;trackBy: trackId">
                <td><a [routerLink]="['/question', question.id, 'view']">{{ question.id }}</a></td>
                <td>{{ question.libelle }}</td>
                <td>{{ question.date | date:'mediumDate' }}</td>
                <td>{{ question.cloturer }}</td>
                <td>
                    <div *ngIf="question.techno">
                        <a [routerLink]="['/techno', question.techno?.id, 'view']">{{ question.techno?.libelle }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="question.langage">
                        <a [routerLink]="['/langage', question.langage?.id, 'view']">{{ question.langage?.libelle }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/question', question.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/question', question.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>

                        <button type="submit" (click)="delete(question)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="trash"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
