<form *ngIf="question" name="deleteForm" (ngSubmit)="confirmDelete(question?.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmer la supression</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <p id="jhi-delete-question-heading">êtes-vous sûr de vouloir supprimer cette Question?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button id="jhi-confirm-delete-question" type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i>&nbsp;<span>Supprimer</span>
        </button>
    </div>
</form>
